@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="row">
    <div id="main-section" class="col-md-8">
        <div class="row well">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-center">Panel Header</div>
                </div>
                <div class="panel-body">Panel Content</div>
            </div>
        </div>
        <div class="row well">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-center">Panel Header</div>
                </div>
                <div class="panel-body">Panel Content</div>
            </div>
        </div>
    </div>
    <div id="additional-section" class="col-md-4">
        <div class="well">
            Some Content
        </div>
    </div>
</div>