<ul class="nav navbar-nav navbar-right">
    <li><a href="@Url.Action("Register", "Account")" id="register-link">Register</a></li>
    <li><a href="@Url.Action("Login", "Account")" id="login-form">Login</a></li>
</ul>
